- if user.present?
  = link_to_if user.name.present?, image_tag(user.https_image, size: size, class: klass), "#{Settings[user.last_login_provider + '_page']}#{user.name}", target: '_blank', title: user.name, rel: 'tooltip', 'data-original-title' => user.name
